extends layout

append head
  title= title
  link(rel='stylesheet' href='/stylesheets/home.css')
  script(src="/javascripts/index.js" type="module" defer)
block content
  div.main_content_container
    main.songs_container
      div
        div#song_header
          div.header_text_style#song_header= 'Trending Music 👇'
          div.sub_header_text_style= 'Featured'
        div= 'test1'

    aside.sidebar
      div= 'test2'
      div= 'test3'
