extends layout.pug

append head
    title= `Music Hunt`
    link(rel='stylesheet' href='/stylesheets/login-form.css')
    script(src="/javascripts/index.js" type="module" defer)

block content
  if errors
    p The following errors took place:
      ul
        each error in errors
          li= error
  form(action='/users/login' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    //- label Email
    //- input(type='email' name='email' value=email)
    //- br
    //- label Username
    //- input(type='text' name='username' value=username)
    //- br
    div.body-container
      div.body-container-elements
        div.login-title Login 👇 Here
        div.email-box
          label Email Or Username
          input(type='text' name='login' value=login)
        div.password-box
          label Password
          //- TODO change 'text' to 'password'
          input(type='text' name='password' required)
        div.button
          button Login
        p Don't have an account?
          a(href=`/users/signup` class='sign-up-link')  Sign up
