doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Music Hunt - Sign Up
    link(rel='stylesheet' href='/stylesheets/signup-form.css')
    script(src="/javascripts/index.js" type="module" defer)
  body
    if errors
      p The following errors took place:
        ul
          each error in errors
            li= error
    div.main-container
      div.left-block
        div.left-block-container
          div.form-container
            div.logo-wrapper
              a(href='/')
                img(src='https://icon-library.com/images/m-icon/m-icon-7.jpg')
              a(href='/')
                p Music Hunt
            div#hey-there Hey there 👋
            div#hey-subtext We just need a few details, and you'll be on your way.
            form(action='/users/signup' method='post')#signup-form
              input(type='hidden' name='_csrf' value=csrfToken)
              div.input-wrappers
                label.labels Email
                input(type='email' name='email' value=user.email required).inputs
                br
              div.input-wrappers
                label.labels Username
                input(type='text' name='username' value=user.username required).inputs
                br
              div.input-wrappers
                label.labels Full Name
                input(type='text' name='full_name' value=user.full_name required).inputs
                br
              div.input-wrappers
                label.labels Password
                //- TODO change 'text' to 'password'
                input(type='text' name='password' value=user.password required).inputs
                br
              div.input-wrappers
                label.labels Confirm Password
                input(type='text' name='confirmPassword' value='' required).inputs
                br
              div.button-wrappers
                button Sign Up
                //- form( class='log-in_sign-up')
                br
                a(href='/users/login') Already have an account?

      div.right-block
        div.right-image
