extends layout.pug
append head
    script(src="/javascripts/songs-upvotes.js" type="module" defer)
    link(rel='stylesheet' href='/stylesheets/songs.css')

block content
    input(type='hidden' name='user' value=locals.user)#current-user
    table
        thead
            tr
                th Album Art
                th Song Name
                th Song Artist
                th Play Song
                th Description
                th Upvotes
        tbody
            each song in songs
                - let link = song.urlLink.replace(".com/", ".com/embed/") //changes the spotify link to a url that can be embedded
                - count =0
                - let hasBeenClicked = "false"

                each songUpvote in songUpvotes
                    if (songUpvote.songId === song.id)
                        - count +=1
                        if(locals.user && songUpvote.userId === locals.user.id)
                            - hasBeenClicked = "true"
                tr
                    td
                        img(src=song.albumArt class="songPic" height="150px" width="150px")
                    td
                        a(href=`/songs/${song.name}/${song.id}`)= song.name
                    td
                        a(href=`/users/${song.User.username}`)= song.User.username
                    td
                     iframe(style = "border-radius:12px" src = `${link.slice(0, -20)}?utm_source=generator` width = "100%" height = "80" frameBorder = "0"  allow = "autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture")

                    td= song.description
                    td
                        div.upvotes
                            button(class="upvote_button" id=`${song.id}` data-click= hasBeenClicked )
                                div#upvote_container
                                    div.upvote_icon(id=`I${song.id}`)
                                    div.upvote_text_style(id=`N${song.id}`)= count
    //- div(idstyle="height: 100px; width: 100px; background-color: orange")
