extends layout
append head
  link(rel='stylesheet' href='/stylesheets/song-page.css')
  script(src="/javascripts/song-page.js" type="module" defer)
  script(src="/javascripts/delete-pop-up.js" type="module" defer)
  script(src="/javascripts/song-page-upvotes.js" type="module" defer)
block content
  div#main-header
      div#routes
        a.text-style-1(href="/") Home
        span.text-style-1 →
        a.text-style-1(href="/songs") Songs
        span.text-style-1 →
        a.text-style-1(href=`/songs/${song.name}/${song.id}`)= song.name
      div#song-container
        div
          img(src=song.albumArt)
        div#song-info
          div
            h1#song-name= song.name
            h2#artist-name= song.User.username
          div#visit-upvote-container
            if locals.authenticated
              if locals.user.username === song.User.username
                button#delete-button
                  div#delete-text-1 Delete
                  div#delete-text-2 Song?
                div#delete-pop-up-background
                  div#delete-pop-up-form
                    form(action=`/songs/${song.id}/delete` method="post" style="display: inline-block;")
                      button#confirm-delete.delete-buttons Confirm
                    button#cancel-delete.delete-buttons Cancel
                    div#delete-warning Are you sure you want to delete this song?
                    div#delete-logo-box
                      img(id='delete-logo' src='https://icon-library.com/images/m-icon/m-icon-7.jpg')
                //- TODO Change to href='profile page'
            - let hasBeenClicked = "false"
            - let count = 0;
              each songUpvote in songUpvotes
                if (songUpvote.songId === song.id)
                  - count +=1
                  if(locals.user && songUpvote.userId === locals.user.id)
                     - hasBeenClicked = "true"
            button(class="upvote-button" id=`${song.id}` data-click= hasBeenClicked )
              div.upvote-container
                div.upvote-img(id=`I${song.id}`)
                div#upvote-word UPVOTE
                div.upvote-text(id=`N${song.id}`)= count
      div#description
        p= song.description
        div
          - let link = song.urlLink.replace(".com/", ".com/embed/") //changes the spotify link to a url that can be embedded
          iframe(
            style = "border-radius:12px" src = `${link.slice(0, -20)}?utm_source=generator`
            width = "100%" height = "380" frameBorder = "0" allowfullscreen = ""
            allow = "autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture")
  div#related-title
    //- TODO Include img link to be song.User.profilePic
    img(src=song.albumArt).img-size-1
    div More from this artist . . .
  div#related-container.text-style-1
      each song in relatedSongs
        a(href=`/songs/${song.name}/${song.id}`).related-song
          img(src=song.albumArt).img-size-2
          div.centered= song.name
  div#comment-section-container
    div#comment-container
      if locals.authenticated
        div#comment-submit-form
          form.comment-form
            input(type='hidden' name='_csrf' value=csrfToken)
            input(type='hidden' name='user' value=locals.user)#current-user
            textarea(name='body' required)#comment-message
            input(type='hidden' name='songId' value=song.id)#song-id
            input(type='hidden' name='songName' value=song.name)
            button#submit-comment-button Comment
      div#comment-box
        each comment in comments
          div.comment-wrapper
            a(href=`/users/${comment.User.username}`)
              img(src=comment.User.profilePic).comment-profile-pics
            div.comment-bodies
              p.comment-body-text= `${comment.User.full_name}: ${comment.body}`
