extends layout.pug

append head
    title Music Hunt - Users
    link(rel='stylesheet' href='/stylesheets/users.css')
    script(src="/javascripts/index.js" type="module" defer)

block content
    div.main-container
        main.users-container
            table.table
                thead
                    tr#users-table-head
                        th.profile-pic-column-header
                        th.header_text_style Name
                        th.header_text_style Username
                        th.header_text_style Biography
                        th.header_text_style Songs

                tbody#users-table
                    each user in users
                        tr.users-table-body
                            td.profile-pic-wrapper
                                a(href=`/users/${user.username}`)
                                    img(src=user.profilePic).profile-pic
                            div.table-body-wrappers
                                td
                                    a(href=`/users/${user.username}` class='column one body' style="text-decoration: none;").user-names= user.full_name
                            div.table-body-wrappers
                                td(class='column two body')= user.username
                            div.table-body-wrappers.biography-wrappers
                                td(class='column three body').biographies= user.biography
                            div.table-body-wrappers
                                if user.Songs.length > 0
                                    td(class='column four body')
                                        div.user-songs-list
                                            each song in user.Songs
                                                div.user-songs
                                                    a(href=`/songs/${song.name}/${song.id}`)= song.name

                                else
                                    td(class='column four body') No Songs
        aside.sidebar
            div.card-containers
                article.card
                    header
                        h2.card-headers An Interesting Article
                        img(src='https://static.hkej.com/eji/images/2014/09/04/892989_91a10c6cfe22af72bff92362cc444353.jpg')
                        div.content
                            p This is an interesting article about the latest trending tunes. Some tunes were made by famous producers, while some tunes were made by some nobodies. This song was made by this cat.
                article.card
                    header
                        h2.card-headers Look Second Card
                        img(src='https://static.hkej.com/eji/images/2014/09/04/892989_91a10c6cfe22af72bff92362cc444353.jpg')
                        div.content
                            p This is an interesting article about the latest second cards. Some cards were made by famous programmers, while some cards were made by me. Some cards were made by this same cat.
